*{
    background-color:pink;
}

p{
    background-color: paleturquoise;
    font-family: cursive;
    font-size:2vmin;
}

h1{
    color:rgb(193, 255, 77);
    border-style:ridge;
    justify-content:space-between;
    font-size:4vw;
    }
h2{
    color:rgb(216, 88, 131);
    border:solid;
    font-size:2vw;
}
.hobbies{
    border-radius: 10px;
    border-color:blanchedalmond;
    background-color:teal;
    margin:30px;
    padding:30px;
    width:310px;
    font-family:fantasy;
}
h3{
color:rgb(97, 136, 175);
font-size:5vw;
}